html {
    width: 100% 
}

body { 
    background-color: black;
    font-family: "futura", "Questrial", sans-serif;
    width: 100%;
    color: white;
}

.container img {
    width: 100%;
}

.row div {
    padding-top: 7.5px;
    padding-left: 0px;
}

div #bottom {
    padding-bottom: 15px;
}

.image {
    position: relative;
    width: 100%;
}

p {
   position: absolute; 
   top: 30%; 
   left: 5%;
   width: 90%;
   text-align: center;
   font-size: 1.6em;
   
}

.modalp {
    position: relative;
    width: 100%;
    top: 0px; 
    left: 0px;
    text-align: justify;
    font-size: 1em;
}

.modalptwo {
    position: relative;
    width: 90%;
    top: 0px; 
    left: 0px;
    text-align: left;
    font-size: 1.2em;
}

#mc_embed_signup {
    width: 90%;
}

a {
   text-decoration: none;
   position: absolute;
   left: 0px;
   top: 6px;
   text-align: center;
   width: 100%;
   height: 99%; 
   padding-top: 45%;
   color: white;
   font-size: 120%;
   opacity: 1;
   background-color: rgba(0,0,0,.3);
}

a:visited {
    text-decoration: none;
    color: lightgreen;
}
    
a:hover {
    background-color: rgba(0,0,0,.3);
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 120%;
    opacity: 1;
}

.reglink {
   text-decoration: underline;
   position: initial;
   left: initial;
   top: initial;
   text-align: initial;
   width: initial;
   height: initial; 
   padding-top: initial;
   color: white;
   font-size: initial;
   opacity: initial;
   background-color: initial;
}

.reglink:hover {
    background-color: initial;
    text-decoration: initial;
    color: lightgreen;
    text-align: initial;
    font-size: initial;
    opacity: initial;
}

div.bigpic {
    width:100%;
    background-position: center center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    height:600px;
    background-size: cover;
}

#bigpic1 {
    background-image: url("fashion.jpg");
    color: black;
}

#bigpic2 {
    background-image: url("ritual.jpg");
}

#bigpic3 {
    background-image: url("hmck.jpg");
}

#bigpic4 {
    background-image: url("coral.jpg");
}

#bigpic5 {
    background-image: url("sunrise.jpg");
}

#bigpic6 {
    background-image: url("forest.jpg");
}

#bigpic7 {
    background-image: url("tidepools.jpg");
}

#bigpic8 {
    background-image: url("vogueretina.jpg");
    color: black;
}

#bigpic9 {
    background-image: url("shire.jpg");
}

a.imagelink {
  opacity: 1;
  background-color: transparent;
  position: fixed;
  padding: 0%;
  max-width: 150px;
  width: 10%;
  left: 2%;
  top: 2%;
  height: 0%;
}

.logo {
    height: 15%;
    width: auto;
    position: fixed;
    left: 2%;
    bottom: 2%;
    animation-name: colorchange;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.logo:hover {
    animation-play-state: paused;
}

@keyframes colorchange {
    0% {
        fill: black;
    }
    
    50% {
        opacity: 0;
    }

    100% {
        fill: white;
    }
}

div.pages {
    padding-left: 15%;
    padding-top: 10%;
    padding-right: 10%;
}

#pagetwo {
    padding-top: 50%;
    transform: translateY(-50%);
}

#pagethree {
    padding-right: 10%;
    padding-top: 10%;
}

#pagefour {
    padding-top: 10%;
}

#pagefive {
    padding-right: 10%;
    padding-top: 10%;
}

h1 {
    line-height: normal;
    font-size: 1.2em;
}

@media (min-device-width: 801px) {
    a {
        opacity: 0;
    }
    div.pages {
        padding-left: 20%;
        padding-top: 15%;
        padding-right: 15%;
    }
    div.bigpic {
        height: 900px;
    }
    h1 {
        font-size: 2em;
    }
    #pageone { 
        padding-top: 5%;
    }

    #pagetwo {
        padding-top: 50%;
    }

    #pagethree {
        padding-right: 50%;
        padding-top: 30%
    }

    #pagefour {
        padding-top: 30%;
    }

    #pagefive {
        padding-right: 40%;
        padding-top: 45%;
    }
    .logo {
    top: 2%;
    }
}

@media all and (orientation:portrait) {
    #bigpic1 {
        background-image: url("portrait.jpg");
        background-size: contain;
    }
    div.pages {
        display: none;
    }
    #bigpic2 {
        background-image: url("portrait.jpg");
        background-size: contain;
    }
    #bigpic3 {
        background-image: url("portrait.jpg");
        background-size: contain;
    }
    #bigpic4 {
        background-image: url("portrait.jpg");
        background-size: contain;
    }
    #bigpic5 {
        background-image: url("portrait.jpg");
        background-size: contain;
    }
    #bigpic6 {
        background-image: url("portrait.jpg");
        background-size: contain;
    }
    #bigpic7 {
        background-image: url("portrait.jpg");
        background-size: contain;
    }
    #bigpic8 {
        background-image: url("portrait.jpg");
        background-size: contain;
    }
    #bigpic9 {
        background-image: url("portrait.jpg");
        background-size: contain;
    }
}
    