html {
    height: 100%;
}
body { 
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: auto 100%;
    background-image: url(voguemob.jpg);
    background-repeat: no-repeat;
    background-color: black;
    font-family: "futura", "Questrial", sans-serif;
    background-position: top center;
}

div.header {
    margin: 0 auto;
    width: 80%;
    position: relative;
    overflow: hidden;
}

}
svg {
  display: block;
  max-width: 200px;
  min-width: 50px;
  width: 20%;
  position: absolute;
  -webkit-animation: moveX 6.05s linear 0s infinite alternate, moveY 5.5s linear 0s infinite alternate;
  -moz-animation: moveX 6.05s linear 0s infinite alternate, moveY 5.5s linear 0s infinite alternate;
  -o-animation: moveX 6.05s linear 0s infinite alternate, moveY 5.5s linear 0s infinite alternate;
  animation: moveX 6.05s linear 0s infinite alternate, moveY 5.5s linear 0s infinite alternate;
}

h1 {
    text-shadow: 0 0 1px #d0b090;
    color: white;
    font-size: 1.5em;
    margin: 2%;
}
h1.left{
    float: left;
}

h1.right {
    float: right;
}

a {
    position: absolute;
    left: 50%;
    bottom: 10%;
    text-decoration: none;
    color: white;
    margin-left: -27.6px;
    font-size: x-large;
}

a:visited {
    text-decoration: none;
    color: lightgreen;
    text-align: center;
    font-size: x-large;
}

@-webkit-keyframes moveX {
  from { left: 0; } to { left: 88%; }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: 88%; }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: 88%; }
}

@-webkit-keyframes moveY {
  from { top: 15%; } to { top: 65%px; }
}
@-moz-keyframes moveY {
  from { top: 15%; } to { top: 65%px; }
}
@-o-keyframes moveY {
  from { top: 15%; } to { top: 65%px; }
}



@keyframes moveX {
  from { left: 0; } to { left: 88%; }
}

@keyframes moveY {
  from { top: 15%; } to { top: 65%; }
}

@media (min-device-width: 801px) {
    body {
        background-image: url(voguedesk.jpg);
        background-size: cover;
        background-position: top, left;
    }
    h1 {
        font-size: xx-large;
    }
    
}

@media (min-device-width: 801px) and (-webkit-min-device-pixel-ratio: 2),
       (min-device-width: 801px) and (min-device-pixel-ratio: 2),
       (min-device-width: 801px) and (min-resolution: 192dpi) {
    body {
        background-image: url(vogueretina.jpg); 
    }
}
