body { background-image: url(vogue.jpg); 
        background-repeat: no-repeat;
        background-position: center;
        font-family: "futura", "Questrial", sans-serif;
}
div.header {
    margin: 0 auto;
    width: 80%;
    position: relative;
    overflow: hidden;
}
.box {
  margin: 0 auto;
  width: 80%;
  height: 600px;
  position: relative;
  overflow: hidden;
}
.box svg {
  display: block;
  max-width: 200px;
  min-width: 50px;
  width: 30%;
  position: absolute;
  -webkit-animation: moveX 6.05s linear 0s infinite alternate, moveY 5.5s linear 0s infinite alternate;
  -moz-animation: moveX 6.05s linear 0s infinite alternate, moveY 5.5s linear 0s infinite alternate;
  -o-animation: moveX 6.05s linear 0s infinite alternate, moveY 5.5s linear 0s infinite alternate;
  animation: moveX 6.05s linear 0s infinite alternate, moveY 5.5s linear 0s infinite alternate;
}
h1 {
    color: white;
    float: left;
    font-size: xx-large;
}
h2 {
    color: white;
    float: right;
    font-size: xx-large;
}

a {
    position: absolute;
    left: 50%;
    bottom: 5%;
    text-decoration: none;
    color: white;
    margin-left: -27.6px;
    font-size: x-large;
}

a:visited {
    text-decoration: none;
    color: lightgreen;
    text-align: center;
    font-size: x-large;
}

@-webkit-keyframes moveX {
  from { left: 0; } to { left: 80%; }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: 80%; }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: 80%; }
}

@-webkit-keyframes moveY {
  from { top: 0; } to { top: 400px; }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: 400px; }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: 400px; }
}



@keyframes moveX {
  from { left: 0; } to { left: 80%; }
}

@keyframes moveY {
  from { top: 0; } to { top: 400px; }
}
